.chatContact {
	display: flex;
	border-top: 1px solid #EAEAEA;
	p {
		margin: 0;
	}
}

.chatContact__photo {
	background-image: url("https://sun9-8.userapi.com/impf/qX70TImxjr-_rCy3Xyb8dXfrlgUIx663zGjiGg/eZYLYraLusU.jpg?size=545x410&quality=96&sign=1908c03e63710dc73511333dfdf7c716&type=album");
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	margin: 0.5rem 1rem 0.5rem 0;
}

.chatContact__spacer {
	flex-grow: 1;
}


p.chatContact__name {
	margin: 0.7rem 0 0 0;
	font-size: 0.8rem;
	line-height: 0.8rem;
}

p.chatContact__lastMessage {
	color: #999999;
	margin: 0.5rem 0 0 0;
	font-size: 0.8rem;
	line-height: 0.8rem;
}

p.chatContact__lastMessageTime {
	color: #999999;
	margin: 0.8rem 0 0 0;
	font-size: 0.7rem;
	line-height: 0.7rem;
}

.chatContact-selected{
	background-color: bisque;
}